In [14]:
# подготовка к домашке урока 6:))
import pandahouse as ph # библиотека для работы с SQL в питоне
import pandas as pd
import numpy as np

In [2]:
connection_default = {'host':'https://clickhouse.lab.karpov.courses', # подключаемся к аккаунту обычному
                     'database':'default',
                     'user':'student',
                     'password':'dpo_python_2020'}

connection_test = dict(host = 'https://clickhouse.lab.karpov.courses', # подключаемся к аккаунту с правами на редактирование с создание таблиц
                       database = 'test',
                       user = 'student-rw',
                       password = '656e2b0c9c')

In [7]:
# смотрим количество строк в таблице -- 6.2
q_check_read = '''
    SELECT count()
    FROM {db}.ldn_listings
    '''
q_check = ph.read_clickhouse(query = q_check_read, connection = connection_default)
q_check

   count()
0    85207

In [16]:
# выгружаем из таблицы данные о цене в зависимости от типа жилья -- 6.3
q_price_of_room_type_read = '''
    SELECT 
        toFloat32OrNull(replaceRegexpAll(price, '[$,]', '')) AS price, -- грёбанные кавычки в паттерне!:(
        room_type
    FROM {db}.ldn_listings
    ORDER BY id ASC
    LIMIT 1000
    '''
q_price_of_room_type = ph.read_clickhouse(query = q_price_of_room_type_read, connection = connection_default)

In [18]:
# считаем 75-й перцентиль для каждого типа комнат и выводим
q_75 = q_price_of_room_type.groupby(by=['room_type'], as_index=False).quantile(q = 0.75)
q_75

         room_type   price
0  Entire home/apt  160.00
1       Hotel room  157.00
2     Private room   70.00
3      Shared room   69.25